<div class="header"><!--cabeçalho do body-->
     <div class="header-chamada">
        <div class="boasVindas">
           <div class="titulo">blog</div>    

      </div>
     </div>
  
</div><!--end cabeçalho do body-->


<div class="container"><!--Main-->

	
    
    <h1>  <a href="/blog">Blog</a></h1>
    <!--<main id="janela">-->
      <div class="container-blog">
          <ul>
            <li><a href="https://www.monosan.com.br/geral/aprenda-a-usar-mod-rewrite/">Mod_rewrite</a></li>
            <li><a href="https://www.devschannel.com/expressoes-regulares/introducao">Expressões Regulares</a></li>
            <li><a href="https://www.monosan.com.br/geral/aprenda-a-usar-mod-rewrite/">Mod_rewrite</a></li>
            <li><a href="https://www.monosan.com.br/geral/aprenda-a-usar-mod-rewrite/">Mod_rewrite</a></li>
          </ul>
           
           
      </div>
     
   <!-- </main>-->


  </div><!--end Main-->