<div class="header"><!--cabeçalho do body-->
     <div class="header-chamada">
        <div class="boasVindas">
           <div class="titulo">Contato</div>    

      </div>
     </div>
  
</div><!--end cabeçalho do body-->


<div class="container"><!--Main-->

	
    
    <h1> Contate-nós</h1>
    <!--<main id="janela">-->

  <div class="form-contato">	
      <div class="header-form">
        <h2>Faça seu orçamento sem compromisso</h2>
      </div>
      
      

      <form action="/contato" method="POST" >

          {if="isset($retornoEmail)"}
                    <div class="msg-sucess">{$retornoEmail}  </div>          
                {/if}
              
         {if="isset($retornoEmailErro)"}
                    <div class="msg-erro"> {$retornoEmailErro} </div>
             


                {/if}

          
          <div class="form-campo">

              <label for="name">Nome ou Empresa:</label><br>
              <input type="text" id="name" name="name" placeholder="Nome" required>
            
          </div>
          <div class="form-campo">

                <label for="email">Email p/ contato:</label >  <br>   
                <input type="email" id="email" name="email" placeholder="mail@exemplo.com" required>

          </div>
          <div class="form-campo">
               <label for="whatsApp">whatsApp p/ contato:</label>  <br>   
               <input type="whatsApp" id="whatsApp" name="whatsApp"placeholder="somente número" required>

          </div>
      	
      
         
            <label for="">O que deseja:</label><br>
            <textarea rows="10" name="descrition" placeholder="Faça uma breve descrição do site que voçê deseja" required></textarea>

        
      	

		   

      	 <div class="form_btn">
            <input type="submit" name="btn_enviar"value="Enviar">
         </div>
      	
      </form>
  </div>

   <!-- </main>-->


  </div><!--end Main-->