<footer><!--footer-->

  <div>
    <div class="footer-header"><!-- footer-header -->
      <div class="newsllater">
           <input type="email" name="newsllater">
            <button type="submit">Assinar</button> 
      </div>
      </div><!-- end footer-header -->
  </div>
  <div class="footer"> <!-- essa e uma div .footer -->
    
  
    
      <div class="footer-body"> <!-- footer-body -->
        <div class="footer-body-cols">
          
        </div>
        <div class="footer-body-cols">
          
        </div>
        <div class="footer-body-cols">
          
        </div>
      </div><!-- end footer-body -->
      <div class="footer-footer"><!-- footer-footer -->
          <div class="mandeinbrasil">
               helenilson &copy; 2020 made in Brazil
            <img src="https://{$site}/img/brasil.svg">
         </div>
      </div><!-- end footer-footer  -->
       
    
  </div><!-- end .footer -->

</footer><!--end footer-->
  

  <script>
    var janela = document.getElementById("iframe");
    janela.style.visibility = "hidden";
    var menu = document.getElementsByClassName("container-menu");


    
    var media = window.matchMedia("(max-width:600px)");
    var iconClose = document.querySelector(".close");


    function aparecerMenu() {
      var aparM = document.getElementById("menu");
      aparM.style = "visibility:visible;";
      if (media.matches) {
        iconClose.style = "visibility:visible;";
      }
    }


    function fecharMenu() {

      var closeM = document.getElementById("menu");
      closeM.style = "visibility:hidden;";
      iconClose.style = "visibility:hidden;";

    }


  </script>
</body>

</html>