<div class="header-home"><!--cabeçalho do body-->
     <div class="header-chamada-home">
        <div class="boasVindas">
        <div class="titulo">Precisa construir um site? </div>
        <a class="sim" href="/contato">Sim</a>

      </div>
    </div>
   
</div><!--end cabeçalho do body-->

  <div class="container"><!--container-->
    <iframe id="iframe" name="pagina" src=""></iframe>
    <h1> Principais projetos</h1>
    <main id="janela"><!--main-->
      <!-- webuild-->

      {loop="$sites"}
      <!--{$value.nome}-->
      <div class="container-img" id="container-img">
        <div class='borda-img'>
          <a href='{$value.url}' >
            <img src='img/{$value.icon}'>
          </a>
        </div>
        <div class="nome_projeto">
          <p>{$value.nome}</p>
        </div>
      </div>
      {/loop}

     
    </main><!--end main-->
  </div><!--end container-->
